VITE_GEMINI_API_KEY=AIzaSyClBJ6FoCjrsaMVQJV-7MNsTA80TTiPINM
VITE_GOOGLE_CLIENT_SECRET=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
VITE_WORKER_URL=https://fuadcards.selectedlegendbusiness.workers.dev
VITE_WORKER_AUTH_KEY=123456@
VITE_ADMIN_EMAILS=fuadeditingzone@gmail.com,selectedlegendbusiness@gmail.com